/*======================================
//--//-->   STYLES GENERALES
======================================*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: transparent !important;
    color: #4e4e4e;
    background: transparent !important;
    font-size: 1rem;
    font-family: "Roboto-Regular";
    overflow-x: hidden !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --green: #44956f;
    --dark-green: #307e64;
    --white: #fff;
    --blue: #0f8fe0;
    --dark-blue: #00508d;
    --site-blue: #034EA2;
    --site-dblue: #162232;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.gradient-blue {
    background-image: linear-gradient(180deg, var(--site-blue)2%, var(--site-blue));
}

.gradient-dblue {
    background-image: linear-gradient(180deg, var(--site-dblue)2%, var(--site-dblue));
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.overlay-mf {
    background-color: #475776;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
    z-index: 1;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.tabwidth {
    width: 60%;
}

.sec-pt6 {
    padding-top: 6rem;
}

.sec-pb6 {
    padding-bottom: 6rem;
}

.sec-pt4 {
    padding-top: 4rem;
}

.sec-pb4 {
    padding-bottom: 4rem;
}

.sec-mt4 {
    margin-top: 4rem;
}

.sec-mb4 {
    margin-bottom: 4rem;
}

.sec-pl3 {
    padding-left: 3rem;
}

.sec-pt2 {
    padding-top: 2rem;
}

.sec-pb2 {
    padding-bottom: 2rem;
}

.sec-pt1 {
    padding-top: 1rem;
}

.sec-pb1 {
    padding-bottom: 1rem;
}

/* logo */
.logow {
    width: 100px;
    height: auto;
}

.subpage .logow {
    padding: 20px 5px 10px 5px;
    width: 100px;
}

/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #ffffff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #475776;
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*======================================
//--//-->   NAVBAR
======================================*/


.navbar-b {
    transition: all .15s ease-in-out;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Montserrat", sans-serif;
}

/* .navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
} */

.top-trollbar {
    position: relative;
    z-index: 9999;
}

.navbar-expand-lg .navbar-collapse {
    background: #000000;
    padding: 14px 14px;
}

.navbar-expand-lg .navbar-collapse.subpage-nav {
    background: transparent;
    padding: 8.5px 0;
}

.navbar-b.navbar-reduce .navbar-collapse.subpage-nav {
    background: #000000;
}

.navbar-b,
.navbar-b.navbar-trans {
    position: sticky;
    z-index: 9999;
}

.navbar-b.navbar-reduce {
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
}


.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
}

.home_page .navbar-b.navbar-trans .nav-link {
    color: #ffffff;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    position: absolute;
    content: '';
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

/* .navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #475776;
    font-weight: 700;
} */

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before,
.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 35%;
    background: linear-gradient(to right, #034ea2 0%, #034ea2 50%, #ffffff 50%, #ffffff 100%);
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: transparent;
}

.navbar-b.navbar-trans #brochure-nav .nav-link:before {
    background-color: #c4094a;
}


/* .navbar-b.navbar-trans .nav-link:hover {
    color: #475776;
    font-weight: 700;
} */

/* .navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
} */

.nav-line {
    opacity: 0;
    text-align: center;
    line-height: 1.4;
}

.navbar-b.navbar-trans .nav-link.active .nav-line {
    opacity: 1;
    text-align: center;
    line-height: 1.4;
}

.nav-line:after {
    background: linear-gradient(to right, #1689c5 10%, #1782ba 10%, #219fd5 30%, #1e9dd4 70%, #21a3db 100%, #21a5de 100%);
    position: absolute;
    content: '';
    height: 1px;
    right: 15px;
    left: 15px;
    bottom: 0;
}

.navbar-b.navbar-reduce {
    transition: all .15s ease-in-out;
    /* background-color: rgb(34 34 34); */
    /* padding-top: 2px;
    padding-bottom: 2px; */
    /* border-bottom: 1px solid #848484; */
}

.navbar-b.navbar-reduce .nav-link {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: transparent;
}

.navbar-b.navbar-reduce .navbar-brand {
    color: #373435;
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #034ea2;
}

.navbar-b .navbar-brand {
    color: #373435;
    font-family: 'WorkSans-Regular';
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    line-height: inherit;
    background: #ffffff;
    white-space: nowrap;
}

.navbar-b .navbar-nav {
    background: transparent;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
}

.navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #0078ff;
    color: #fff;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #0078ff;
}

/*--/ Hamburger Navbar /--*/
.navbar-toggler {
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #034ea2 !important;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

/*======================================
//--//-->   INTRO
======================================*/
.slider-one {
    background: url('../images/slider_bg_one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.slider-two {
    background: url('../images/slider_bg_two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.slider-three {
    background: url('../images/slider_bg_three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.slider-four {
    background: url('../images/slider_bg_foure.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.slider-five {
    background: url('../images/slider_bg_five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.carousel-inner {
    width: 100%;
    height: auto;
    position: relative;
}

#home .carousel-inner img {
    width: 100%;
    height: 100vh;
}

.intro {
    position: relative;
    color: #fff;
}

.intro .intro-content {
    text-align: left !important;
    position: absolute;
}

.intro .overlay-itro {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: 1;
}

.intro .intro-title {
    color: #000000;
    font-weight: 500;
    font-size: 3rem;
    text-align: left !important;
}

.title-font {
    font-family: 'PermanentMarker-Regular';
}

.sub-title-font {
    font-family: 'MrDafoe-Regular';
}

.intro-single .intro-title {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
}

.intro .slide-content {
    position: absolute;
    top: 40%;
    left: 12%;
}

.logo-img {
    width: 150px !important;
    height: auto !important;
    position: absolute;
    top: 0;
    left: 10%;
}

.carousel-indicators li {
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 15px;
    height: 15px;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #128e40;
}

.border-bline {
    border-bottom: 3px solid #AA6124;
    width: 20%;
}

.your-bg {
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 0;
}

.bg-content {
    position: absolute;
    top: 55%;
    right: 12%;
}

@-webkit-keyframes zoomout {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes run {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }

}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    /* 50% {
        transform: scale(1.1);
    } */

    100% {
        transform: scale(1.2);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    /* 50% {
        transform: scale(1.1);
    } */

    100% {
        transform: scale(1.2);
    }
}

.intro .intro-title {
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3s;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 3s;
}

.slider-caption {
    font-size: 1.2rem;
    color: #000000;
}

/* .carousel-inner .slider {
    -webkit-animation: zoomout 3s ease-in;
    animation: zoomout 3s ease-in;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
} */



/*======================================
//--//-->   HOME
======================================*/
.header-bg {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* .header-bg {
    -webkit-animation: fadeinout 3s linear forwards infinite;
    animation: fadeinout 3s linear forwards infinite;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
} */

.home {
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.home .banner-title {
    font-family: 'FontAwesome';
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    top: 45%;
    color: #ffffff;
}

.bg-black-color {
    background-color: #000000;
    color: #ffffff;
    /* border: 15px solid #222222; */
}

.design-title {
    color: #ffffff;
    font-weight: 600;
}

.productBlock {
    min-height: 0 !important;
}

.text-right {
    text-align: right;
}

.black-color {
    color: #000000;
}

.white-color {
    color: #ffffff;
}

.linebox {
    text-align: center;
    position: relative;
    line-height: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 30%;
}

.linebox:after {
    background: linear-gradient(to right, #AA6124 10%, #AA6124 10%, #A47E63 30%, #A47E63 70%, #AA6124 100%, #AA6124 100%);
    position: absolute;
    content: '';
    height: 4.5px;
    right: -50px;
    left: -50px;
    bottom: 0;
}

.protuct-line {
    text-align: center;
    position: relative;
    line-height: 1.4;
    width: 80%;
    margin-top: 2rem;
}

.protuct-line:after {
    background: linear-gradient(to right, #1689c5 10%, #1782ba 10%, #219fd5 30%, #1e9dd4 70%, #21a3db 100%, #21a5de 100%);
    position: absolute;
    content: '';
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
}

.center-line {
    text-align: center;
    position: relative;
    line-height: 1.4;
    width: 100%;
    margin: auto;
}

.center-line:after {
    background: linear-gradient(to right, #1689c5 10%, #1782ba 10%, #219fd5 30%, #1e9dd4 70%, #21a3db 100%, #21a5de 100%);
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    /* bottom: -7.5px; */
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
    z-index: 1;
}


/* Ardventages */
.poster-img.img-fluid {
    width: 100%;
    height: 372px;
}


/*======================================
//--//-->   ABOUT
======================================*/
.about {
    background: #fafafa;
}

.about-main {
    background: #fafafa;
    /* padding-top: 90px; */
}

.pad-top-100 {
    padding-top: 90px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-bottom-100 {
    padding-bottom: 90px;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.pad-top-70 {
    padding-top: 70px;
}

.pad-bottom-70 {
    padding-bottom: 70px;
}

.block-title {
    font-size: 40px;
    font-family: 'philosopher-regular';
    font-weight: bold;
}

.story-title {
    font-size: 40px;
    font-family: 'philosopher-regular';
    font-weight: bold;
    color: #FFD402;
}

.about-images {
    text-align: center;
    position: relative;
}

.about-main h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.left-btn {
    padding-top: 10px;
}

/* .about-images img {
    border: 10px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.about-images img {
    border: 10px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.about-inset {
    position: absolute;
    bottom: 30px;
    right: 0;
}


.sub-head {
    color: #475776 !important;
    font-weight: 700;
    line-height: 2;
}

.advantages {
    background: #034EA2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.advantages-text {
    width: 70%;
    color: #ffffff;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.advantages-para {
    width: 70%;
    color: #ffffff;
    padding-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paralh {
    line-height: 2.2;
}

.textcenter {
    margin-left: auto;
    margin-right: auto;
}

.mt--5 {
    margin-top: -8%;
}

.frame-video {
    width: 100%;
    height: 400px;
    max-width: 700px;
    margin: auto;
    display: block;
    margin-top: 25px
}

@media all and (max-width: 768px) {
    .mt--5 {
        margin-top: 10%;
    }

    .navbar-b {
        background-color: #ffffff;
    }


    #home .carousel-caption {
        font-size: 5vw;
    }
}

/*======================================
//--//-->   APPLICATIONS
======================================*/
#applications h3.sub-head {
    margin-left: auto;
    margin-right: auto;
}

.paralax {
    position: relative;
    overflow: hidden;
}

.parallax-background {
    background-size: cover;
    background-position: 50% center;
    position: absolute;
    background-attachment: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 180%;
}

.mission {
    background-image: url(../image/mission.jpg);
}

.vission {
    background-image: url(../image/vission.jpg);
}

.white {
    color: #ffffff !important;
}

.site-bgcolor {
    background-color: #475776;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}

/* .table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #919192;
}
 */
.border-top-0 {
    border-top: 0 !important;
}

th {
    text-align: inherit;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.btn-rounded {
    border-radius: 50px;
}

.get-quote {
    padding: 1rem 3rem;
    color: #475776 !important;
    font-weight: 700;
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 1;
}

.get-quote:hover {
    opacity: 0.7;
}

.bline {
    border: 1px solid #ededee;
    padding: 1rem 3rem;
}

.viewbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 100%;
    border: none;
    background: #f1f3f7;
    color: #495057;
    padding: 6px 12px;
    text-transform: capitalize;
    border-radius: 0;
    opacity: 1;
}

.contact .contact-form select {
    width: 100%;
    border: 2px dotted #ccc;
    background: #f1f3f7;
    color: #495057;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.contact .contact-form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}


.contact .contact-form select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

.contact ::-webkit-input-placeholder {
    /* Chrome */
    color: #495057;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: capitalize;
}

.contact :-ms-input-placeholder {
    /* IE 10+ */
    color: #495057;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: capitalize;
}

.contact ::-moz-placeholder {
    /* Firefox 19+ */
    color: #495057;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: capitalize;
    opacity: 1;
}

.contact :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #495057;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: capitalize;
    opacity: 1;
}

.contact textarea:focus,
.contact input:focus,
.contact select:focus,
.contact .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.contact .contact-form input.sub-btn {
    width: 15vw;
    border: transparent;
    background: linear-gradient(to right, var(--site-blue) 2%, var(--site-blue));
    color: #fff !important;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.error {
    color: #fb0404 !important;
    font-size: 0.8rem;
}

/*======================================
//--//-->   FOOTER
======================================*/
footer {
    color: #fff;
    padding-bottom: 0rem;
    background: #1C1C1C !important;
}

footer .copyright {
    margin-bottom: .3rem;
    font-size: 0.9rem;
}

footer .credits {
    margin-bottom: 0;
    font-size: 0.9rem;
}

footer .credits a {
    color: #fff;
}

.copyright-box {
    padding: 30px 20px;
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }

    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }

    .navbar-b,
    .navbar-b.navbar-trans {
        position: sticky;
        z-index: 9999;
    }

    .navbar-b.navbar-reduce {
        position: fixed;
        top: 0;
        z-index: 9999;
        right: 0;
        left: 0;
    }

    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px;
    }

    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px;
    }

    .intro .intro-title {
        font-size: 3rem;
    }

    .intro-single .intro-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .about.sec-pt4 {
        padding-top: 1rem;
    }

    .contact .contact-form input.sub-btn {
        width: 40vw;
    }

    .sec-pl3 {
        padding-left: 15px;
    }

    .parallax-background {
        position: relative;
        height: 400px;
    }

    #home .carousel-inner img {
        width: 100%;
        min-height: 200px;
        height: 100%;
        background-size: contain;
        object-fit: cover;

    }

    .sub-head {
        line-height: 1;
    }

    .paralh {
        line-height: 26px;
    }
}

@media (min-width: 1025px) {
    #home .carousel-inner {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #home .carousel-inner img {
        width: 100%;
        background-size: contain;
        object-fit: cover;
        height: 100vh;
    }
}

.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    padding: .7rem 1rem;
    color: #999;
}

.back-to-top:hover {
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/*dropdown */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1200px) {
    .container-xl {
        width: 90%;
        max-width: 1440px;
    }
}

.circle-img {
    background: transparent;
    width: 100px;
}

.white-shadow-box {
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gray-shadow-box {
    background: #F2F2F2;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle-shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #034ea2;
    color: rgb(7, 6, 6);
    text-align: center;

    font: 25px Arial, sans-serif;
}

.valign {
    vertical-align: middle !important;
}

#why-table td p {
    font-size: 1rem;
}

#why-table.table td,
#why-table.table th {
    padding: 0 .75rem !important;
}

/* testimonials */
/* .testimonials {
    background: url("/images/testimonial_bg.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
} */

.primary-link {
    color: #e90775 !important;
}

.quotes {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 800;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: monospace;
}

.bgblack {
    background: #000000;
    border-top: 10px solid #034ea2;
    border-left: 10px solid #034ea2;
    padding: 2rem 0 4rem 0;
}

#testimonials .owl-carousel .item {
    padding: 15px;
    background: transparent;
    height: 340px;
    margin: 2rem 0;
}

#testimonials .owl-carousel .item img {
    padding: 5px;
    margin-top: -60px;
    display: inline-block !important;
}


.owl-dot {
    width: 15px;
    border: 3px solid #aad2ff !important;
    border-radius: 5px;
    outline: none !important;
    margin: 5px;
}

.owl-dot.active {
    border: 3px solid var(--site-blue) !important;
}

p.testi-para {
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}

.testi-foot-head {
    color: #e90775;
    padding: 0 20%;
    text-align: right;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

#testimonials .owl-theme .owl-nav {
    display: none;
}

#testimonials .owl-theme .owl-dots .owl-dot.active span,
#testimonials .owl-theme .owl-dots .owl-dot:hover span {
    background: #e90775;
}

#testimonials .owl-theme .owl-dots {
    padding-top: 3%;
    text-align: center;
}

.testi-icon {
    float: left;
    font-size: 1.2rem;
    margin-left: 10px;
    border: 1px solid #283138;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #283138;
}

.testi-text {
    width: 82%;
    float: right;
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 10px;
}

.tisti-client {
    padding: 10px;
    margin: 0;
    /* font-family: 'HelveticaNeueLTPro-Roman'; */
}

.width-100 {
    width: 100%;
    max-width: 120px;
    text-align: center;
}

.footer-box-c p i {
    color: #044fa3;
}

.footer-box-c p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.footer-box-c a.white {
    line-height: 1.8;
}

.footer-box-c p i {
    font-size: 20px;
    position: relative;
    top: 4px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footer-box-c p span {
    display: table;
    padding-left: 12px;
    padding-top: 1px;
}

.bline,
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(243 243 243 / 10%);
}

.iconCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 16px;
    background: #fff;
    border: 2px solid #c1c1c1;
    color: rgb(0, 0, 0);
    text-align: center;
    font: 25px Arial, sans-serif;
}

.iconCircle .fa {
    color: #034ea2;
}

.pad15 {
    padding-left: 15px;
}

.success h3 {
    font-size: 2.5rem;
}

.underlinebox,
.bwunderlinebox {
    text-align: center;
    position: relative;
}

.underlinebox:after,
.bwunderlinebox:after {
    background: linear-gradient(to right, #000000 35%, #000000 35%, #034ea2 35%, #034ea2 60%, #034ea2 100%, #034ea2 100%);
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: -4px;
}

.underlinebox:after {
    width: 35%;
}

.bwunderlinebox:after {
    width: 20%;
}

.wunderlinebox,
.swunderlinebox {
    text-align: center;
    position: relative;
}

.wunderlinebox:after,
.swunderlinebox:after {
    background: linear-gradient(to right, #000000 35%, #000000 35%, #ffffff 35%, #ffffff 60%, #ffffff 100%, #ffffff 100%);
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: -4px;
}

.wunderlinebox:after {
    width: 35%;
}

.swunderlinebox:after {
    width: 20%;
}

.white-underlinebox {
    text-align: center;
    position: relative;
}

.white-underlinebox:after {
    background: linear-gradient(to right, #034ea2 25%, #034ea2 37%, #ffffff 37%, #ffffff 45%, #000000 45%, #000000 55%, #ffffff 55%, #ffffff 62%, #034ea2 62%, #034ea2 100%);
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: -4px;
    width: 100%;
}

/*======================================
//--//-->   CONTACT
======================================*/
.error {
    color: #bb0000;
}

.adds {
    margin: 0;
}

.footer-paralax {
    background: #636158;
}

.contact-mf {
    margin-top: 4rem;
}

.title-left {
    color: #2858a2;
    padding-bottom: 20px;
}

.form-control {
    border-radius: 0;
}

.button {
    display: inline-block;
    padding: .1rem .4rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: #2858a2;
    color: #ffffff;
    transition: all 500ms ease;
}

.button-a {
    background-color: #ffffff;
    color: #79716d;
    border-color: #2858a2;
}

.button-big {
    padding: .6rem .9rem;
    font-size: 1.2rem;
}

.social-icons {
    padding-top: 20px;
}

.social-icons .fa {
    padding: 10px 30px 10px 15px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.socials {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.showdow-img {
    box-shadow: 0px 6px 7px 7px rgba(171, 171, 171, 0.2);
    transition: all 0.3s ease;
}

.story-img {
    box-shadow: 0px 6px 7px 7px rgba(171, 171, 171, 0.2);
    border-bottom: #988fa2 6px solid;
    transition: all 0.3s ease;
}


.block-team-member-1 {
    background-color: #128e40;
}

.block-team-member-1 img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.block-team-member-1 img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.block-pd {
    padding-bottom: .5rem;
}

.protpolio {
    padding: 15px !important;
}

#home {
    height: 100vh;
}

@media (min-width: 220px) and (max-width: 761px) {
    #home {
        height: 500px;
    }

    /* .navbar-b,
    .navbar-b.navbar-trans {
        padding: 50px 0px;
    }

    .navbar-b.navbar-reduce {
        padding: 10px 0px;
    } */
}